*{

    box-sizing: border-box;
}

body {
    background-color: rgb(86, 166, 192);
}

.header{
    font-size: 50px;
    text-align: center;
}

.row {
    display: grid;
    padding: 20px;
    font-size: 20px;
}

#row1 {
    display: grid;
    padding: 20px;
    border: none;
    width: 250px;
    height: 200px;
    font-size: 20px;

}

.usercart{
    padding: 10px;
}

.usercart{
    margin-left: 0px;
}
.checkboxes{
    margin: 1px;
    padding: 0px;
}

.error-ms{
    color: red
}
